---
swagger: "2.0"
info:
  version: "2017-10-19T19:39:35Z"
  title: "WebDevTask"

host: "devtask.t12y.net"
basePath: "/"
schemes:
- "https"

paths:
  /assets:
    get:
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/AssetsList"
    
    options:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  
  /results:
    post:
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/ResultResponse"
    
    options:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"

definitions:

  ResultResponse:
    type: "object"
    properties:
      msg:
        type: "string"
    title: "ResultResponse"

  AssetsList:
    title: "AssetList"
    type: "array"
    items:
      type: "string"
